body{
    display: flex;
    position: relative;

}
#Oliver{background-color: aqua;
        width: 500px;
        height: 500px;
        margin: 60% 50% 50%;
        padding: 20% 10%;}
#Campo{background-color: green;
        width:500px ;
        height: 500px;
        margin: 10% 20% 10%;
        padding: 50% 50%;}
#Benji{background-color: chocolate;
        width: 500px;
        height: 500px;
        margin: 60% 10% 30% ;
        padding: 20% 10%;}