body{
    text-align: center;
    align-content: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: rgb(87, 87, 133);
}
fieldset{
    border-radius: 25px;
    background-color: lightblue;
    border-width: 40px,solid;
    border-color: rgb(151, 188, 201);
    text-align: left;
}
input{
    width:100% ;
    border-radius: 25px;
    size: 30px;
    text-align: center;
    align-items: center;
}
textarea{
    width:100% ;
    border-radius: 25px;
    size: 30px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}
legend{
    font-size: larger;
    color: rgb(59, 59, 255);
}
#chkbx{
    width: 15%;
    margin: auto;
    display: inline;
    align-items: start;
}